body {
    font-family: Arial, sans-serif;
    background: #2a2e37;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: antiquewhite;
}
.card {
    background: rgb(59, 63, 75);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    color: antiquewhite;

}
input {
    width: 90%;
    background-color: #3b4560;
    padding: 8px;
    margin: 8px 0;
    color: antiquewhite;

}
button {
    padding: 10px;
    width: 60%;
    background: #07730b;
    color: rgb(255, 255, 255);
    border: none;
    color: antiquewhite;

}
button:hover {
background-color: #07922f;
color: rgb(230, 231, 243);
}
.error {
    color: red;
}
